.bg-dark {
  background-color: #2b2a2a !important;
  color: #ffffff;
}

.list-group-item {
  margin-bottom: 0;
  background-color: #2b2a2a;
  border: 0;
  border-bottom: 1px solid #ff5722 !important;
  color: white;
}

html,
body {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.7);
}

.twitch {
  background-color: #6441a4;
  border: #6441a4 1px;
  color: white;
}

.twitch:hover {
  background-color: #7d5bbe;
  border: #7d5bbe 1px;
  color: white;
}

.card {
  border: #ff5722 2px !important;
}

a {
  color: #ff5722;
}

a:hover {
  color: #ff8965;
}
