<!doctype html>
<html lang="en">
    {{ template "header" }}
    <body>
        {{ template "navbar" . }}
        <div class="container my-3">
            <div class="card-deck text-center">
                <div class="card text-white bg-dark" >
                    <div class="card-header">
                        <i class="fab fa-twitch"></i>
                        Twitch.tv
                    </div>
                    <a href="/twitch" class="card-body">
                        <h2 class="text-center text-white">
                            Click here if you want Twitch login
                        </h2>
                        <div class="text-muted">
                            (if you requested to delete your twitch.tv logs)
                        </div>
                    </a>
                </div>
                <div class="card text-white bg-dark" style="height: 3rm">
                    <div class="card-header">
                        Destiny.gg
                    </div>
                    <a href="/dgg" class="card-body">
                        <h2 class="text-center text-white">
                            Click here if you want Destinygg login
                        </h2>
                        <div class="text-muted">
                            (if you requested to delete your destiny.gg logs)
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{ template "scripts" }}
    </body>
</html>